<div class="card">
<div class="scroll">
  <input class="form-control" type="text" name="search" placeholder="Search...." [(ngModel)]="searchValue" required/>
<div *ngFor = "let student of students | searchFilter: searchValue; index as j" class = "row card-body">
  <div class = "col-3">
    <img class="rounded-circle rounded" *ngIf="student.pic" src="{{student.pic}}" alt="Image">
  </div>
  <div class = "col-9">
  <h1 class="card-title">{{ student.firstName }} {{student.lastName}}</h1>
    <!--<button data-toggle="collapse" data-target="#collapse{{j}}">+</button>-->
  <div class="content">Email: {{ student.email }}</div>
  <div class="content">Company: {{ student.company }}</div>
  <div class="content">Skill: {{ student.skill }}</div>
<!--<div id="collapse0" class="collapse">-->
<!--    <div *ngFor = "let grade of student.grades; index as i">-->
<!--      <div class="content">Test{{ i+1 }} : {{ grade }}%</div>-->
<!--    </div>-->
<!--</div>-->
      <div class="content">Average: {{ student['avg'] }}%</div>
    <hr/>
  </div>
</div>
</div>
</div>
